<div class="white-background padding-default">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Clients We Serve</h2>
            <div class="spacer30"></div>
            <!-- carousal Logo -->
            <div class="client-logo">
                <div class="client-logo-image">
                    <a href="#"><img src="http://placehold.it/100x105" alt="Logo"></a>
                </div>
                <div class="client-logo-image">
                    <a href="#"><img src="http://placehold.it/100x105" alt="Logo"></a>
                </div>
                <div class="client-logo-image">
                    <a href="#"><img src="http://placehold.it/100x105" alt="Logo"></a>
                </div>
                <div class="client-logo-image">
                    <a href="#"><img src="http://placehold.it/100x105" alt="Logo"></a>
                </div>
            </div>
            <!-- carousal Logo -->
            <div class="client-logo">
                <div class="client-logo-image">
                    <a href="#"><img src="http://placehold.it/100x105" alt="Logo"></a>
                </div>
                <div class="client-logo-image">
                    <a href="#"><img src="http://placehold.it/100x105" alt="Logo"></a>
                </div>
                <div class="client-logo-image">
                    <a href="#"><img src="http://placehold.it/100x105" alt="Logo"></a>
                </div>
                <div class="client-logo-image">
                    <a href="#"><img src="http://placehold.it/100x105" alt="Logo"></a>
                </div>
            </div>
        </div>
    </div>
</div>
