<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h2>We are ACME and we believe in perfection</h2>
        </div>
        <div class="spacer30"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-bottom-45">
            <p>We care for Perfection. We care for tiny little details. Lorem ipsum see this is dolor sit amet, consectetuer adipiscing elit. ou will see th Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut  aturpis. and we spendisse urna nibh, holi viverra non, semper suscipit pede.</p>
        </div>

        <div class="spacer50"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="feature text-left">
                        <!-- feature icon -->
                        <div class="feature-icon">
                            <i class="flaticon-luxury"></i>
                        </div>
                        <!-- feature title -->
                        <h6> Strategy and Analysis </h6>
                        <!-- feature detail -->
                        <div class="feature-detail">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="feature text-left">
                        <!-- feature icon -->
                        <div class="feature-icon">
                            <i class="flaticon-web"></i>
                        </div>
                        <!-- feature title -->
                        <h6> Creative Design </h6>
                        <!-- feature detail -->
                        <div class="feature-detail">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="feature text-left">
                        <!-- feature icon -->
                        <div class="feature-icon">
                            <i class="flaticon-profile"></i>
                        </div>
                        <!-- feature title -->
                        <h6> Development </h6>
                        <!-- feature detail -->
                        <div class="feature-detail">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="feature text-left">
                        <!-- feature icon -->
                        <div class="feature-icon">
                            <i class="flaticon-computer"></i>
                        </div>
                        <!-- feature title -->
                        <h6> Marketing & Launch </h6>
                        <!-- feature detail -->
                        <div class="feature-detail">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top-70">
                    <div class="get-quote-box">
                        <h3>Wanna talk more?</h3>
                        <a href="#" class="button-larg button-gradient">Get a Quote</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="white-box">
                <h3>What We do</h3>
                <p>Lorem ipsum see this is dolor sit amet, consectetuer addipiscing elit. ou will see the Donec odio. and we Quisque volutpat mattis eros. Nullam malesuada erat ut  aturpis. and we spendisse urna nibh, holi viverra non semper good lemond suscipit. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Praesent dapibus, neque id cursus faucibus tortor neque.</p>
                <a class="read-more gradient-color" href="#"><ins>learn More</ins><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    <div class="spacer100"></div>
    <div class="divider-content light-gray">
        <i class="fa fa-star"></i>
    </div>
</div>
