<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="top-text">Portfolio</div>
            <h2>Selected Work</h2>
        </div>
    </div>
</div>

<div class="spacer20"></div>

<div class="portfolio">
    <div id="filter" class="categories">
        <ul>
            <li><a href="javascript:void(0)" data-filter="*" class="active">All</a></li>
            <li><a href="javascript:void(0)" data-filter=".web">Web Design</a></li>
            <li><a href="javascript:void(0)" data-filter=".app">App Design</a></li>
            <li><a href="javascript:void(0)" data-filter=".graphic">Graphic Design</a></li>
            <li><a href="javascript:void(0)" data-filter=".wordpress">Wordpress</a></li>
        </ul>
    </div>
    <div class="grid full-width-three-column no-space" data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "masonry" }'>
        <div class="grid-item web app wordpress">
            <div class="gallary-item">
                <div class="hover-text">
                    <!-- Portfolio Image -->
                    <div class="hover-outer">
                        <div class="hover-inner">
                            <h6>White Satber Inc.</h6>
                            <small>Corporate Branding</small>
                        </div>
                    </div>
                </div>
                <img src="http://placehold.it/640x440" class="img-responsive" alt="Portfolio Image">
            </div>
        </div>
        <div class="grid-item grid-item--width2 web">
            <div class="gallary-item">
                <div class="hover-text">
                    <!-- Portfolio Image -->
                    <div class="hover-outer">
                        <div class="hover-inner">
                            <h6>White Satber Inc.</h6>
                            <small>Corporate Branding</small>
                        </div>
                    </div>
                </div>
                <img src="http://placehold.it/640x440" class="img-responsive" alt="Portfolio Image">
            </div>
        </div>
        <div class="grid-item app web">
            <div class="gallary-item">
                <div class="hover-text">
                    <!-- Portfolio Image -->
                    <div class="hover-outer">
                        <div class="hover-inner">
                            <h6>White Satber Inc.</h6>
                            <small>Corporate Branding</small>
                        </div>
                    </div>
                </div>
                <img src="http://placehold.it/640x440" class="img-responsive" alt="Portfolio Image">
            </div>
        </div>
        <div class="grid-item web app">
            <div class="gallary-item">
                <div class="hover-text">
                    <!-- Portfolio Image -->
                    <div class="hover-outer">
                        <div class="hover-inner">
                            <h6>White Satber Inc.</h6>
                            <small>Corporate Branding</small>
                        </div>
                    </div>
                </div>
                <img src="http://placehold.it/640x440" class="img-responsive" alt="Portfolio Image">
            </div>
        </div>
        <div class="grid-item web graphic">
            <div class="gallary-item">
                <div class="hover-text">
                    <!-- Portfolio Image -->
                    <div class="hover-outer">
                        <div class="hover-inner">
                            <h6>White Satber Inc.</h6>
                            <small>Corporate Branding</small>
                        </div>
                    </div>
                </div>
                <img src="http://placehold.it/640x440" class="img-responsive" alt="Portfolio Image">
            </div>
        </div>
        <div class="grid-item">
            <div class="gallary-item">
                <div class="hover-text">
                    <!-- Portfolio Image -->
                    <div class="hover-outer">
                        <div class="hover-inner">
                            <h6>White Satber Inc.</h6>
                            <small>Corporate Branding</small>
                        </div>
                    </div>
                </div>
                <img src="http://placehold.it/640x440" class="img-responsive" alt="Portfolio Image">
            </div>
        </div>
        <div class="grid-item grid-item--width2">
            <div class="gallary-item">
                <div class="hover-text">
                    <!-- Portfolio Image -->
                    <div class="hover-outer">
                        <div class="hover-inner">
                            <h6>White Satber Inc.</h6>
                            <small>Corporate Branding</small>
                        </div>
                    </div>
                </div>
                <img src="http://placehold.it/640x440" class="img-responsive" alt="Portfolio Image">
            </div>
        </div>
        <div class="grid-item">
            <div class="gallary-item">
                <div class="hover-text">
                    <!-- Portfolio Image -->
                    <div class="hover-outer">
                        <div class="hover-inner">
                            <h6>White Satber Inc.</h6>
                            <small>Corporate Branding</small>
                        </div>
                    </div>
                </div>
                <img src="http://placehold.it/640x440" class="img-responsive" alt="Portfolio Image">
            </div>
        </div>
        <div class="grid-item">
            <div class="gallary-item">
                <div class="hover-text">
                    <!-- Portfolio Image -->
                    <div class="hover-outer">
                        <div class="hover-inner">
                            <h6>White Satber Inc.</h6>
                            <small>Corporate Branding</small>
                        </div>
                    </div>
                </div>
                <img src="http://placehold.it/640x440" class="img-responsive" alt="Portfolio Image">
            </div>
        </div>
    </div>
</div>
