{% extends 'base.html.twig' %}

{% block body %}
    <div class="heading-style style-one" style="background-image: url(http://placehold.it/1920x400);">
        <!-- Heading Inner -->
        <div class="heading-inner">
            <div class="container">
                <!-- Page Title -->
                <div class="page-title">
                    <h1>About us</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Breadcrumb -->
        <ul class="breadcrumb">
            <li><a href="#">Home</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
            <li><a href="#">About us</a></li>
        </ul>
    </div>

    <div class="container padding-top-70">
        <div class="container">
            <h2>About Us</h2>
            <p>We care for Perfection. We care for tiny little details. Lorem ipsum see this is dolor sit amet, consectetuer adipiscing elit. ou will see th Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut  aturpis. and we spendisse urna nibh, holi viverra non, semper suscipit pede.</p>
        </div>
        <div class="spacer50"></div>
        <div class="spacer20"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h4>We are creative thinker</h4>
                    <p>We care for Perfection. We care for tiny little details. Lorem ipsum see this is dolor sit amet, consectetuer adipiscing elit. ou will see th Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut  aturpis. and we spendisse urna nibh, holi viverra non, semper suscipit pede.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h4>We are crafter</h4>
                    <p>We care for Perfection. We care for tiny little details. Lorem ipsum see this is dolor sit amet, consectetuer adipiscing elit. ou will see th Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut  aturpis. and we spendisse urna nibh, holi viverra non, semper suscipit pede.</p>
                </div>
            </div>
        </div>
        <div class="spacer30"></div>
        <div class="divider light-gray"></div>

        <!--our vision-->
        <div class="container">
            <h2>Our Vision</h2>
            <p>Lorem ipsum see this is dolor sit amet, consectetuer adipiscing elit. ou will see th Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut  aturpis. and we spendisse urna nibh, holi viverra non, semper suscipit pede. and we have created it.</p>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <ul class="list-circle">
                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                        <li>Aliquam tincidunt mauris eu risus.</li>
                        <li>Vestibulum auctor dapibus neque.</li>
                        <li>Nunc dignissim risus id metus.</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <ul class="list-circle">
                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                        <li>Aliquam tincidunt mauris eu risus.</li>
                        <li>Vestibulum auctor dapibus neque.</li>
                        <li>Nunc dignissim risus id metus.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="spacer30"></div>
        <div class="divider light-gray"></div>

        <!--our mission-->
        <div class="container">
            <h2>Our Mission</h2>
            <p>Lorem ipsum see this is dolor sit amet, consectetuer adipiscing elit. ou will see th Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut  aturpis. and we spendisse urna nibh, holi viverra non, semper suscipit pede. and we have created it.</p>
            <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>
            <p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Praesent dapibus, neque id cursus faucibus, tortor neque .</p>
        </div>
        <div class="spacer30"></div>
        <div class="divider light-gray"></div>

        <div class="container padding-top-100">
            <div class="row">
                <div class="team style3">
                    <div class="container">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <!-- team Image -->
                            <div class="team-image left">
                                <img class="img-responsive" src="http://placehold.it/270x270" alt="Team">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <!-- team Detail -->
                            <div class="team-detail">
                                <!-- team Detail -->
                                <div class="team-name">
                                    <a href="#">Candice Steward</a>
                                </div>
                                <!-- team Designation -->
                                <div class="team-designation">Graphic Designer</div>
                                <p>Seded ut perspiciatis unde omnis iste natus error sit amet voluptatem accusantium Lorem ipsum dolor sit amet, total consectetuer adipiscing elit. Phasellus hendrerit jupiter and- Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue.</p>
                                <p>Morbi purus libero, faucibus vitae facilisis libero dolor a purus. Sed </p>
                                <!-- Social Icon -->
                                <div class="social-icon-box">
                                    <a class="social-icon si-colored si-facebook" href="#">
                                        <i aria-hidden="true" class="fa fa-facebook"></i>
                                        <i aria-hidden="true" class="fa fa-facebook"></i>
                                    </a>
                                    <a class="social-icon si-colored si-twitter" href="#">
                                        <i aria-hidden="true" class="fa fa-twitter"></i>
                                        <i aria-hidden="true" class="fa fa-twitter"></i>
                                    </a>
                                    <a class="social-icon si-colored si-linkedin" href="#">
                                        <i aria-hidden="true" class="fa fa-linkedin"></i>
                                        <i aria-hidden="true" class="fa fa-linkedin"></i>
                                    </a>
                                    <a class="social-icon si-colored si-gplus" href="#">
                                        <i aria-hidden="true" class="fa fa-google-plus"></i>
                                        <i aria-hidden="true" class="fa fa-google-plus"></i>
                                    </a>
                                    <a class="social-icon si-colored si-delicious" href="#">
                                        <i aria-hidden="true" class="fa fa-behance"></i>
                                        <i aria-hidden="true" class="fa fa-behance"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <!-- team Detail -->
                            <div class="team-detail">
                                <!-- team Name -->
                                <div class="team-name">
                                    <a href="#">Joel Mitchell</a>
                                </div>
                                <!-- team Designation -->
                                <div class="team-designation">Graphic Designer</div>
                                <p>Seded ut perspiciatis unde omnis iste natus error sit amet voluptatem accusantium Lorem ipsum dolor sit amet, total consectetuer adipiscing elit. Phasellus hendrerit jupiter and- Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue.</p>
                                <p>Morbi purus libero, faucibus vitae facilisis libero dolor a purus.Sed </p>
                                <!-- Social Icon -->
                                <div class="social-icon-box">
                                    <a class="social-icon si-colored si-facebook" href="#">
                                        <i aria-hidden="true" class="fa fa-facebook"></i>
                                        <i aria-hidden="true" class="fa fa-facebook"></i>
                                    </a>
                                    <a class="social-icon si-colored si-twitter" href="#">
                                        <i aria-hidden="true" class="fa fa-twitter"></i>
                                        <i aria-hidden="true" class="fa fa-twitter"></i>
                                    </a>
                                    <a class="social-icon si-colored si-linkedin" href="#">
                                        <i aria-hidden="true" class="fa fa-linkedin"></i>
                                        <i aria-hidden="true" class="fa fa-linkedin"></i>
                                    </a>
                                    <a class="social-icon si-colored si-gplus" href="#">
                                        <i aria-hidden="true" class="fa fa-google-plus"></i>
                                        <i aria-hidden="true" class="fa fa-google-plus"></i>
                                    </a>
                                    <a class="social-icon si-colored si-delicious" href="#">
                                        <i aria-hidden="true" class="fa fa-behance"></i>
                                        <i aria-hidden="true" class="fa fa-behance"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <!-- team Image -->
                            <div class="team-image right">
                                <img class="img-responsive" src="http://placehold.it/270x270" alt="Team">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer100"></div>
    <!-- call to Action -->
    <div style="background-image:url(http://placehold.it/1920x247);" class="call-to-action style-four style-one">
        <div class="container">
            <div class="pricing-title text-center">
                <h4>Have a Project to discuss?</h4>
                <button class="button-medium button-white-border" value="">Get In Touch</button>
            </div>
        </div>
    </div>
{% endblock %}
