{% extends 'base.html.twig' %}

{% block body %}
    <!-- Heading -->
    <div class="heading-style style-one" style="background-image: url(http://placehold.it/1920x400);">
        <!-- Heading Inner -->
        <div class="heading-inner">
            <div class="container">
                <!-- Page Title -->
                <div class="page-title">
                    <h1>Blog</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer100"></div>
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
            <div class="blog-detail text-center">
                <!-- Blog Title -->
                <a href="no-sidebar.html"><h3>WordPress theme of the week</h3></a>
                <div class="post-detail style-1">
                    By <a href="#">James Smith</a>
                    <i class="fa fa-star" aria-hidden="true"></i>Web Design
                    <i class="fa fa-star" aria-hidden="true"></i>January 28, 2017
                </div>

                <!-- Blog Image -->
                <div class="blog-image">
                    <a href="no-sidebar.html"><img src="http://placehold.it/370x295" class="img-responsive" alt="blog Image"></a>
                </div>

                <!-- Post Text -->
                <div class="post-text">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                </div>

                <!-- Continue Reading Like and Comment -->
                <div class="blog-bottom">
                    <a href="#" class="button-small button-gradient">Read More</a>
                </div>

                <div class="spacer30"></div>
                <!-- Blog Title -->
                <a href="#"><h3>WordPress theme of the week</h3></a>
                <div class="post-detail style-1">
                    By <a href="#">James Smith</a>
                    <i class="fa fa-star" aria-hidden="true"></i>Web Design
                    <i class="fa fa-star" aria-hidden="true"></i>January 28, 2017
                </div>

                <!-- Blog Image -->
                <div class="blog-image">
                    <iframe  src="https://www.youtube.com/embed/yAoLSRbwxL8" allowfullscreen ></iframe>
                </div>

                <!-- Post Text -->
                <div class="post-text">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                </div>

                <!-- Continue Reading Like and Comment -->
                <div class="blog-bottom">
                    <a href="#" class="button-small button-gradient">Read More</a>
                </div>

                <div class="spacer30"></div>
                <!-- Blog Title -->
                <a href="no-sidebar.html"><h3>WordPress theme of the week</h3></a>
                <div class="post-detail style-1">
                    By <a href="#">James Smith</a>
                    <i class="fa fa-star" aria-hidden="true"></i>Web Design
                    <i class="fa fa-star" aria-hidden="true"></i>January 28, 2017
                </div>

                <!-- Blog Image -->
                <div class="blog-image">
                    <a href="no-sidebar.html"><img src="http://placehold.it/370x295" class="img-responsive" alt="blog Image"></a>
                </div>

                <!-- Post Text -->
                <div class="post-text">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                </div>

                <!-- Continue Reading Like and Comment -->
                <div class="blog-bottom">
                    <a href="#" class="button-small button-gradient">Read More</a>
                </div>

                <div class="spacer30"></div>
                <!-- Blog Title -->
                <a href="no-sidebar.html"><h3>WordPress theme of the week</h3></a>
                <div class="post-detail style-1">
                    By <a href="#">James Smith</a>
                    <i class="fa fa-star" aria-hidden="true"></i>Web Design
                    <i class="fa fa-star" aria-hidden="true"></i>January 28, 2017
                </div>

                <!-- Post Text -->
                <div class="post-text">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                </div>

                <!-- Continue Reading Like and Comment -->
                <div class="blog-bottom">
                    <a href="#" class="button-small button-gradient">Read More</a>
                </div>
            </div>

            <!-- pagination -->
            <div class="pagination pagination-style-1 margin-top-70">
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> </a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="spacer30"></div>
{% endblock %}
