{% extends 'base.html.twig' %}

{% block body %}
    <div class="transparent-header">
        <!-- Banner Section -->
        <div class="banner full" style="background-image: url(http://placehold.it/1920x1080);">
            <div class="banner-overlay"></div>
            <div class="banner-inner">
                <div class="container">
                    <h1>Bold, Amazing & Extraordinary</h1>
                    {#<ul>#}
                        {#<li><a href="#" class="button-medium button-white-border">View Demos</a></li>#}
                        {#<li><a href="#" class="button-medium button-white">Purchase Acme</a></li>#}
                    {#</ul>#}
                </div>
            </div>
        </div>

        <div class="spacer70"></div>
        {% include 'default/include/_introduction.html.twig' %}

        <!-- Portfolio -->
        {#{% include 'default/include/_portfolio.html.twig' %}#}

        <!-- Streps -->
        {% include 'default/include/_process.html.twig' %}

        <!-- Clients Logo -->
        {#<div class="spacer20"></div>#}
        {#{% include 'default/include/_clients.html.twig' %}#}

        <!-- Blogs -->
        {#<div class="spacer100"></div>#}
        {#{% include 'default/include/_blogposts.html.twig' %}#}

        <div class="spacer100"></div>
        <!-- call to Action -->
        {% include 'default/include/_contact-cta.html.twig' %}
    </div>
{% endblock %}
