# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
#    parameter_name: value

services:
    app.manager.emails:
        class: AppBundle\Manager\EmailManager
        arguments:
            - '@mailer'
            - '@templating'
            - '@request_stack'
            - '%emails.general%'
            - '%emails.admin%'

    app.manager.locale_manager:
        class: AppBundle\Manager\LocaleManager
        arguments:
            - '@router'
            - '@request_stack'

    app.twig.locale_extension:
        class: AppBundle\Twig\LocaleExtension
        arguments:
            - '@app.manager.locale_manager'
        tags:
            - { name : twig.extension }
