.rp-menu .active a, .ws-dropdown .active a {
  color: #e74c3c; }

.button-gradient {
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  opacity: 0.902;
  color: #fff; }
.button-gradient:hover {
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  opacity: 0.902;
  }

	
.testimonial .fa.fa-quote-right,.top-text,.blog-post .blog-pos-date a,.white-box h3{color: rgb(235,126,141);}
.white-box h3::before,.get-quote-box h3::before{border-top: 1px solid rgb(235,127,141);}

.portfolio .hover-text{ 
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69,0.902) 0%, rgb(235,192,141,0.902) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69,0.902) 0%, rgb(235,192,141,0.902) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69,0.902) 0%, rgb(235,192,141,0.902) 100%);
  }
.portfolio li a.active{ 
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  opacity: 0.902;
  }
  
.uneven-text-box,.case-study-four .text-box,.blog-detail .social-share-box{
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  }
.banner-overlay{ 
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  opacity: 0.902;
  }	
.pagination.dark-bg li a:hover{ 
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  color:#fff;
  } 	
.heading-inner{
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  opacity: 0.902;
  } 	
	
.team-hvrbox .hvrbox-text{
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69,0.902) 0%, rgb(235,192,141,0.902) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69,0.902) 0%, rgb(235,192,141,0.902) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69,0.902) 0%, rgb(235,192,141,0.902) 100%);
}  

.case-study-four .banner-overlay,.home-corporate .banner-overlay{
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69,0.902) 0%, rgb(235,192,141,0.902) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69,0.902) 0%, rgb(235,192,141,0.902) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69,0.902) 0%, rgb(235,192,141,0.902) 100%);
  opacity: 0.702;
  }   

.corporate-services-box .detail .animate-line{
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69,0.902) 0%, rgb(235,192,141,0.902) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69,0.902) 0%, rgb(235,192,141,0.902) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69,0.902) 0%, rgb(235,192,141,0.902) 100%);
  opacity: 0.902;
 }
.blog-image p span{
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69,0.902) 0%, rgb(235,192,141,0.902) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69,0.902) 0%, rgb(235,192,141,0.902) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69,0.902) 0%, rgb(235,192,141,0.902) 100%);
  opacity: 0.902;
  }  

.parallax-portfolio .overlay{ 
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  opacity: 0.502;
  }    
  
.step.style-five .step-icon {
    background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
	}
  .step.style-five .step-icon .fa {
    color: #fff; }
.step.style-five .process-line {
  background: #e74c3c; }

.gallary .hover-text {
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69,0.902) 0%, rgb(235,192,141,0.902) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69,0.902) 0%, rgb(235,192,141,0.902) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69,0.902) 0%, rgb(235,192,141,0.902) 100%);
  }
  .gallary .hover-text h6 {
    color: #fff; }

.gallary-item .hover-inner small {
  color: #fff; }

.gallary li a.active {
  background: #e74c3c;
  color: #fff; }

.counter-icon .fa {
  color: #e74c3c; }

.rp-carousel .owl-dot.active span, .theme-gradient-bg {
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);}

.call-to-action.theme-gradient-bg h5 {
  color: #fff; }

.read-more.gradient-color, .footer-news .detail .title:hover, .testimonial.style-3 .slick-center .fa.fa-quote-left {
  color: rgb(235,126,141); }

.pricing-table.style-8 .price-box:hover button {
  background: #e74c3c;
  color: #fff; }

.tabbing-menu.style-one .nav-tabs > li.active > a {
  border-color: #e74c3c !important; }

.step.style-one .step-box:hover .step-icon {
  background: #e74c3c;
  color: #fff; }

.progress .progress-bar {
  background: #e74c3c; }

.team-name > a, .sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search {
  color: rgb(235,126,141); }

.widget-title::before {
  border: 1px solid #e74c3c; }

.blog-detail .like-view-box a i, .blog-detail .social-share-box .fa.fa-share-alt {
  color: #e74c3c; }

.tags-widget a:hover {
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  color: #fff; }

.comment h5 .fa {
  color: #e74c3c; }

.rp-read-more svg {
  stroke: #e74c3c; }

.team-hover {
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  opacity: 0.902;
  }

.team.style2 .social-icon-box li a {
  color: #fff; }

mark, .mark {
  background: #e74c3c;
  color: #fff; }

blockquote .style-1 {
  border-left: 5px solid #e74c3c; }

.like-comment > a .fa {
  color: #e74c3c; }

.rp-menu .menu-title {
  border-bottom: 1px solid #e74c3c; }

.price-box.active {
   background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
   background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
   background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
   }

.pricing-table.style-2 .price-box:hover {
  border-color: #e74c3c; }
.pricing-table.style-2 .price-box:hover button {
    background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    color: #fff; }
.pricing-table.style-8 .price-box button:hover{
	background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
	transition: ease-in-out all 0.7s;
    color: #fff;
	} 		
.progress .progress-bar {
    background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  } 	
.services [class^="flaticon-"]::before{
    background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
	}		
	
  .pricing-table.style-2 .price-box:hover .plan-type, .pricing-table.style-2 .price-box:hover .plan-price {
    color: #e74c3c; }
  .pricing-table.style-2 .price-box:hover ul {
    border-color: #e74c3c; }
.pricing-table.style-3 .price-box:hover {
  border-color: #e74c3c; }
  .pricing-table.style-3 .price-box:hover ul span {
    color: #e74c3c; }
  .pricing-table.style-3 .price-box:hover button {
    background: #e74c3c;
    border-color: #e74c3c;
    color: #fff; }
.pricing-table.style-4 .price-box.active button, .pricing-table.style-4 .price-box:hover button {
  background: #e74c3c;
  color: #fff; }
.pricing-table.style-6 .price-box.active::before {
  border-top: 5px solid #e74c3c; }
.pricing-table.style-6 .price-box.active::after {
  border-bottom: 5px solid #e74c3c; }

.rp-pricing-switcher .rp-switch {
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  }

.pricing-table.style-6 .price-box:hover .plan-type, .pricing-table.style-6 .price-box.active .plan-type {
  border-color: #e74c3c;
  color: #e74c3c; }
.pricing-table.style-1 .price-box.active .price-head, .pricing-table.style-1 .price-box.active li {
  color: #fff; }
.pricing-table.style-1 .price-box.active .devider {
  background: #fff; }

.call-to-action.style-one.theme-gradient-bg p {
  color: #fff; }
.call-to-action.style-three .call-to-action-content span {
  color: #e74c3c; }

.accordion.gradient-bg .panel-heading {
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  opacity: 0.902; 
  }
.accordion.style-two .glyphicon {
  color: #e74c3c; }

.vertical-tab .nav > li.active > a::after {
  border-right: 5px solid #e74c3c; }

.testimonial .fa.fa-quote-left, .testimonial.dark-grey-bg.style-3 .slick-center .fa.fa-quote-left {
  color: #e74c3c; }

.blog-post.style-two .category-box {
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  color: #fff; }

.feature.style-four:hover {
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  color: #fff; }
  .feature.style-four:hover p, .feature.style-four:hover h6 {
    color: #fff; }

.rp-horizontal-timeline .filling-line {
 background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  }
.rp-horizontal-timeline .events a.selected::after {
  background-color: #e74c3c;
  border-color: #e74c3c; }

.no-touch .rp-horizontal-timeline .events a:hover::after {
  background-color: #e74c3c;
  border-color: #e74c3c; }

.rp-horizontal-timeline .events a.older-event::after, .no-touch .rp-timeline-navigation a:hover {
  border-color: #e74c3c; }

.button-grey-border {
  border: 2px solid #e74c3c;
  color: #e74c3c; }
.button-grey-border:hover {
   background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
   background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
   background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
   color: #fff;
   }
.pricing-table.style-1 .price-box.active button:hover{
	background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%); 
	transition: ease-in-out all 0.7s;
    color: #fff;
	}
.plan-button .button-medium.button-gradient{
	background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%); 
    color: #fff;
	}	
.pricing-table.style-7 .button-grey:hover{
	background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    color: #fff;
	}		
#multiscroll-nav li .active span{
    background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    opacity: 0.902;
  }
.step.style-one .step-box:hover .step-icon {
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  color: #fff; }
    
.si-gradient {
  background: #e74c3c;
  color: #fff; }

.si-border-gradient {
  border-color: #e74c3c; }

.si-borderless-gradient {
  color: #e74c3c; }

.divider.gradient-color {
  border-bottom: 1px solid #e74c3c; }

.divider-content.gradient-colored i {
  color: #e74c3c; }

.divider.gradient-color.thick {
  border-bottom: 2px solid #e74c3c; }

.divider-content.gradient-colored::before {
  border-bottom: 1px solid #e74c3c; }

.divider.dashed-gradient-color {
  border-bottom: 1px dashed #e74c3c; }
.divider.double-theme-color {
  border-bottom: 4px double #e74c3c; }
.pagination-style-1 li a:hover{ color:#e74c3c; border-top:1px solid #e74c3c; position: relative; }
blockquote .style-2 i, blockquote .style-2 .block-footer {
  color: #e74c3c; }
blockquote .style-4 i, blockquote .style-3 .fa {
  color: #e74c3c; }
.post-detail.style-1 a{color: #e74c3c;}
.list-circle.red li{color: #e74c3c;}
.bullet-point.red .fa {
    color: #e74c3c;
}
#multiscroll-nav span{border: 2px solid #e74c3c;}
.case-study .counter .number,.contact-page-1 .number h5,.contact-page-3.tabbing-menu span,
.address span,.countdown.style-four.timeTo figcaption,.form-box a,
.heading-style.solid-background h1 ,.heading-style.solid-background h6,
.home-corporate .banner-inner h1 span,.home-corporate h2 span,.comment h6 .fa,
.commenter-detail a,.blog-image a,.blog-color,.popover-style-1 span,
.portfolio-detail-sidebar .uploader a,.portfolio-title-2 h1,
.split-slider-detail h1,.right-section-5 .feature-detail span,
.tabbing-menu .active span,.tabbing-menu .active .fa,
.rp-horizontal-timeline .events a.selected ,.page-style-one .text a:hover{color: #e74c3c;}
.monthly,.yearly{color: #e74c3c !important;}

.case-study a.project-link{ color: #e74c3c;}
.careers .panel-body span{color: #e74c3c;}
.list-decimal.red li{ color: #e74c3c;}
.step-box.process-box {
  background: #e74c3c; }
 nav .main-menu .dropdown-menu{border-color: #e74c3c;} 
 nav .main-menu .dropdown-menu a:hover{color: #e74c3c;}
.step.style-four .step-icon, .step.style-four .process-line {
    background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
    background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
	}
.step.style-six .step-number > span {
  color: #e74c3c; }

.list-circle.gradient li, .bullet-point.gradient .fa, .list-decimal.gradient li {
  color: #e74c3c; }

.calendar #currDay {
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  color: #fff; }

input[type="checkbox"] + .lbl.gradient::before, input[type="radio"] + .lbl.gradient::before {
  color: #e74c3c; }

.checkbox-filter input[type="checkbox"] + .lbl.filter-checkbox2::before {
  color: #e74c3c; }

.calendar .selected {
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  color: #fff !important; }
.calendar .date:hover, .calendar .pMDate:hover, .calendar .nMDate:hover, .calendar .month:hover {
 background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  }

.gallary .hover-text h6 a {
  color: #fff; }

.parallax-portfolio .button-medium:hover {
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  transition: ease-in-out all 0.7s;
  color: #fff; }

.next-prev-portfolio .all-portfolio .fa {
  color: #e74c3c; }

.instagram-widget .insta-hover {
  background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  }

.latest-items .item-title:hover {
  color: #e74c3c; }

/*========== Portfolio Hover color ========*/


.portfolio .hover-text .hover-inner {
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
	cursor: pointer;
 background-image: -moz-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(242,70,69) 0%, rgb(235,192,141) 100%);
	opacity: 0.902;
}